<h1>{{'hola mundo'|titlecase}}</h1>
<button pButton type="button" icon="pi pi-check" iconPos="left" label="Cambiar nombre"></button>
<br>
<br>
<!--<p-button label="Cambiar nombre 2" icon="pi pi-check" iconPos="right"></p-button>
<p-card header="Simple Card">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptate temporibus provident ipsum quaerat
        sapiente id? Nam assumenda, expedita amet vel consectetur porro, ullam molestias quidem ratione id, voluptatum
        quasi!</p>
</p-card>-->
<app-menu></app-menu>